.header3 {
    background: #fcfcfc;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    a {
        font-family: sans-serif;
        text-decoration: none;
        color: #3c3953;
        font-weight: 500;
        &:hover{
            color: #e63b49;
        }
    }
    &__collections-nav {
        a {
            padding-right: 30px;
            display: inline-block;
        }
    }
    &__info{
        max-width: 140px;
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            margin-left: 8px;
        }
    }
}